@import "./reset.scss";

/* variables */
$blue: #1b3a5e;
$light: #f6f6f6;
$white: #ffffff;
$black: #000000;
$left-width: 35%;
$right-width: 65%;
$dark-theme: #333333;
$dark-theme-sidebar: #1b3a5e;
$light-theme: #f1f1f1;
$light-theme-sidebar: #ffffff;
$progress: blanchedalmond;
/* variables */

@mixin flex-box {
    display: flex;
    flex-wrap: wrap;
}

@mixin text-center{
    text-align: center;
}

body{
    background-color: $dark-theme;
    color: $dark-theme;

    a{
        color: $dark-theme;
        text-decoration: none;
        &:visited {
            color: initial;
        }
        &:focus, &:hover {
            text-decoration: none;
            outline: none;
        }
    }
}
main{
    margin: 0 auto;
    max-width: 768px;
    position: relative;
    background-color: $light;
    @include flex-box();

    .left{
        width: $left-width;
        background-color: $blue;
        .photo{
            @include flex-box();
            align-items: center;
            justify-content: center;
            margin: 32px;
            padding: 32px;
            .me{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        .location, .about, .skill-set{
            @include text-center();
            margin: 80px 0;
            
            .pin{
                background: $white;
                margin: 0 auto;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                i.fas{
                    margin-top: 7px;
                }
            }

            .title{
                color: $white;
                width: 65%;
                margin: 16px auto 8px auto;
                line-height: 20px;
            }
            
            .detail{
                color: $white;
                width: 65%;
                margin: 8px auto 16px auto;
                line-height: 20px;
            }

        }

        .skill-set{
            ul {
                padding: 0;
                li {
                    list-style: none;

                    .progress-bar{
                        width: 70%;
                        margin: 0 auto;

                        span {
                            background-color: $progress;
                            height: 10px;
                            width: 90%;
                        }
                    }

                    .title{
                        margin: 5px auto 30px;
                    }
                }
                
                li.social{
                    a{
                        color: $white;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .right{
        width: $right-width;
        background-color: $white;
        padding: 0 15px;

        .name{

            .position{
                font-size: 24px;
                margin: 15px 0;
                text-transform: uppercase;
                letter-spacing: 3px;
            }

            .me{
                font-size: 45px;
            }

            .contact{
               @include flex-box();
                margin-top: 10px;
                font-size: 14px;
                
                p.phone{
                    width: 25%;
                    @include text-center();
                }
                
                p.email{
                    width: 41%;
                    @include text-center();
                }
                
                p.site{
                    width: 33%;
                    @include text-center();
                }

                a{
                    text-decoration: none;
                    color: inherit;
                }
            }

        }

        .work-details,.education-details,.hobbies{
            margin-top: 50px;
            
            .pin{
                margin-left: 62px;
                i.fas{
                    background: $blue;
                    border-radius: 50%;
                    padding: 7px;
                    color: $white;
                }
            }
            .title{
                margin-bottom: 15px;
            }
            
            .card{
                @include flex-box();
                flex-direction: row;
                border: none;
                margin-bottom: 10px;
                .left{
                    width: 15%;
                    background-color: inherit;
                    .year{
                        margin-top: 0px;
                        font-size: 14px;
                    }
                }
                .right{
                    @include flex-box();
                    width: 85%;
                    padding: 0;
                    .verticle-bar{
                        width: 5%;
                    }
                    ul{
                        width: 95%;
                        margin-left: 5%;
                        position: relative;
                        &:not(.points)::before{
                            content: '';
                            position: absolute;
                            left: -12px;
                            width: 1px;
                            background: $black;
                            height: 90%;
                            top: 5%;
                        }
                    }

                    ul.points{
                        list-style: disc;
                    }
                }
            }
        }

        .work-details{
            .title{
                margin-left: 58px;
            }
        }

        .education-details{
            .title{
                margin-left: 45px;
            }
        }

        .hobbies{
            .title{
                margin-left: 52px;
            }
        }

    }
}

footer{
    p{
        @include flex-box();
        @include text-center();
        color: $light;
        font-size: 6px;

        span.design{
            width: 50%;
            text-align: left;
            a{
                text-decoration: none;
                color: inherit;
            }
        }

        span.copy{
            width: 50%;
        }
    }
}