.sidebar {
    position: fixed;
    height: 100vh;
    width: 0%;
    max-width: 200px;
    z-index: 3;
    transition: all 1s ease;
}

.sidebar.show-sidebar {
    width: 30%;
}

.sidebar .toggle-sidebar {
    position: absolute;
    top: 10px;
    left: 95%;
}

.side-toggle {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 0px 12px 12px 0px;
    background: #a5a5a5;
}

.side-toggle:focus, .side-toggle:hover, .side-toggle:active {
    outline: none;
    border: none;
}

.side-toggle img {
    height: 35px;
    width: 30px;
}

.sidebar ul {
    height: 100vh;
    background: #a5a5a5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    transition: all 1s ease;
}

.app.dark-mode .sidebar ul {
    background-color: #656363;
}

.app.dark-mode .side-toggle {
    background-color: #656363;
}

.app.dark-mode .sidebar ul li a {
    color: #f6f6f6;
}

.sidebar ul li {
    width: 100%;
    text-align: center;
}

.sidebar ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.sidebar ul li.toggle-darkmode img {
    border-radius: 50%;
    height: 50px;
    transition: all 1s ease;
    cursor: pointer;
}

.sidebar ul li.toggle-darkmode img.dark { 
    transform: rotate(180deg)
}

.sidebar ul li.toggle-darkmode img.light { 
    transform: rotate(0deg)
}
