.app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#b2dbbf 50%, #f3ffbd 100%);
    color: #333333;
    transition: all 1s ease-in-out;
}

.app.dark-mode {
    background: linear-gradient(#0b0e0c 0%, #0e5d75 100%);
    color: #f6f6f6;
    transition: all 1s ease-in-out;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}


@import "./sidebar.css";
@import "./mainbody.css";