.sidebar {
    position: fixed;
    height: 100vh;
    width: 30%;
    max-width: 200px;
    z-index: 2;
}

.sidebar ul {
    height: 100vh;
    position: relative;
    background: #a5a5a5;
    width: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 1s ease;
}

.sidebar ul li:not(.toggle-sidebar) { 
    display: none;
}

.sidebar.show-sidebar ul {
    width: 100%;
}

.sidebar.show-sidebar ul li:not(.toggle-sidebar) { 
    display: block;
}

.side-toggle {
    padding: 0;
    border: none;
    position: absolute;
    top: 10px;
    left: 99%;
    width: 50px;
    height: 50px;
    border-radius: 0px 12px 12px 0px;
    background: #a5a5a5;
    transition: all 1s ease;
}

.side-toggle:focus, .side-toggle:hover, .side-toggle:active {
    outline: none;
    border: none;
}

.side-toggle img {
    height: 35px;
    width: 30px;
}

.sidebar a {
    width: 100%;
    color: #333333;
    text-decoration: none;
    font-size: 14px;
    transition: all 1s ease;
}

.sidebar .toggle-darkmode img {
    border-radius: 50%;
    height: 50px;
}


.app.dark-mode .sidebar a {
    color: #f6f6f6;
}

.app.dark-mode .sidebar ul {
    background-color: #656363;
}

.app.dark-mode .side-toggle {
    background-color: #656363;
}
